<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3 p-3">
            <!-- CARD-->
            <div class="card gedf-card w3-animate-left">

                <hr>
                 
                <!--  ==== INICIO ==== 
                  CONTEINER DAS INFORMAÇÕES PESSOAIS DO USUARIO
               -->
               <div class="container">
                  <!-- NOME DO USUARIO -->
                  <h4 class="text-center">
                      Pelé
                 </h4>

                 <hr>

                  <!-- AVATAR -->
                  <p class="text-center"><img
                     src="https://pbs.twimg.com/profile_images/1319579663790968832/yJkdIaCN_400x400.jpg"
                     class="rounded-circle" style="height:106px;width:106px" alt="Avatar">
                  </p>
                  <hr>

                  <!-- PULO DE LINHA -->
                  <!-- DECRICÃO BASICA DO USUARIO-->
                  <p class="ng-binding"><i class="margin-right w3-text-theme"></i>
                     Jogador de bola
                  </p>

                  <!-- ENDEREÇO DO USUARIO-->
                  <p class="ng-binding">
                     Cidade de deus, RJ
                  </p>

                  <!-- COISA QUE O USUARIO CURTE FAZER -->
                  <h2> EU CURTO ESSAS COISAS</h2>
                  <p class="ng-binding">
                     
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut voluptates et, omnis saepe eos sit minima perferendis nobis, velit neque porro maiores quo aspernatur amet aut. Facere, quos nemo! 
                  </p>
               </div>    
                <!--  ==== FIM ====  -->
            </div>
            <div class="card gedf-card mb-3 mt-3">
                <div class="card-body">
                    <h5 class="card-title">Temas</h5>
                    <ul class="nav-news-feed">
                        <li><i class=""></i><div><a href=" LINK "> MATEMATICA </a></div></li>
                        <li><i class=""></i><div><a href=" LINK "> PORTUGUES </a></div></li>
                        <li><i class=""></i><div><a href=" LINK "> HISTORIA </a></div></li>
                        <li><i class=""></i><div><a href=" LINK "> GEOGRAFIA</a></div></li>
                    </ul>
                </div>
            </div>
         </div>

         <!--  ==== COLUNA MEIO ====  -->
        <div class="col-md-6">

           <!--  ==== SISTEMA DE POSTAGEM ====  -->
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    <div class = "d-flex justify-content-arround align-items-center">

                         <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Titulo</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]='postagem.titulo'>
                          </div>
                        
                          <div class="col-md-6">
                            <div class="form-group m-0">
                              <label class="text-monospace" for="tema">Escolha um tema ou <a routerLink='/cadastro-tema'>Cadastre um novo</a>
                              </label>
                              <select name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                                <option *ngFor='let item of listaTemas' value={{item.id}}>
                                  {{item.descricao}}
                                </option>
                              </select>
                            </div>
                          </div>
                          
                    </div>

                    <a routerLink='/cadastro-tema'> ADICIONA UM NOVO TEMA AQUI :3 </a>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" id="message" rows="3" placeholder="Ta pensando no que?" [(ngModel)]='postagem.mensagem' ></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-info w-25" (click)='publicar()'>Publicar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- FIM ==== SISTEMA DE POSTAGEM ====  -->

             <!--  ==== POST ====  -->
            <div class="card gedf-card mb-3"  *ngFor="let item of listaPostagens | orderBy : key : reverse">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">      
                                <img class="rounded-circle" width="45" src="https://pbs.twimg.com/profile_images/1319579663790968832/yJkdIaCN_400x400.jpg" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">  {{item.titulo}} </div>
                                <div class="h7 text-muted"> estudante do 6º ano </div>
                            </div>
                        </div>
                        <div>
                            <div class="highlight">
                                <p> HORA </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>

                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                        sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                    </p>

                </div>
                <div class="card-footer">
                    <a href="#" class="card-link"> DELETAR</a>
                    <a href="#" class="card-link"> EDITAR </a>
                </div>
            </div>
            <!--  ==== POST ====  -->

         <!--  ==== COLUNA MEIO ====  -->
        </div>
        
         <!--  ==== COLUNA DIREITA / CARDS DE INFORMAÇÕES ====  -->
        <div class="col-md-3">
            <div class="card gedf-card mb-3 mt-3">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sub Titulo</h6>
                    <p class="card-text"> Você sabia que ... etc etc etc ...  .</p>
                    <a href="#" class="card-link">Link</a>
                    <a href="#" class="card-link">Outro Link</a>
                </div>
            </div>
            <div class="card gedf-card ">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sub Titulo</h6>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum qui ratione, quidem itaque sunt excepturi cum ut, repellat voluptatum explicabo dolorum at doloremque tenetur distinctio nobis! Soluta quaerat harum laborum?.</p>
                    <a href="#" class="card-link">Link</a>
                    <a href="#" class="card-link">Outro Link</a>
                </div>
            </div>
        </div>
    </div>
</div>