<div class="accordion" [attr.id]="'coment' + .duvidaid">

    <div class="mt-2" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed " type="button" data-toggle="collapse" [attr.data-target]="'#' + 'comentButton' + duvida.id" aria-expanded="false" aria-controls="collapseTwo">
          <p class="text-primary font-weight-bold">
            <i class="fa fa-comment-o" aria-hidden="true"></i> Comentar
          </p>
        </button>
      </h5>
    </div>
    <div [attr.id]="'comentButton' + duvida.id" class="collapse" aria-labelledby="headingTwo" [attr.data-parent]="'#' + 'coment' + duvida.id">
      <div class="row mt-3 mb-3 d-flex justify-content-center">
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-10 pr-1">
              <div class="form-group">
                <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Digite aqui seu comentário" [(ngModel)]='forumComentario.comment'>
              </div>
            </div>
            <div class="col-md-2 pl-1">
              <button class="btn btn-outline-primary w-100" (click)='publicarComentario(this.duvida.id)'>Publicar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center" *ngFor='let comment of duvida.comment | orderBy : key : reverse'>
        <div class="col-md-11">
          <div class="card mb-3 shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10 mb-3 d-flex align-items-center">
                  <!--
                  <span *ngIf='comment.user.foto != null; else semFoto'>
                    <img src="data:image/jpeg;base64,{{ comment.user.foto }}" class=" rounded-circle w-40 img-fluid mr-2" alt="">
                  </span>
                  <ng-template #semFoto>
                    <img src="https://i.imgur.com/iPnUWdQ.png" class=" rounded-circle w-40 img-fluid mr-2" alt="">
                  </ng-template>
                  -->
                  <img src="https://i.imgur.com/iPnUWdQ.png" class=" rounded-circle w-40 img-fluid mr-2" alt="">
                  <span class="font-weight-bold">{{comment.user.nome}}:</span>
                </div>
                <div class="col-md-2 d-flex justify-content-end" *ngIf='idUser == comment.user.id'>
                  <a class="text-success mr-2" [routerLink]="['/editar-comentario', comment.id]" (click)="titulos('Editar Comentário', 'commenting')">Editar</a>
                  <a class="text-danger" (click)='onDeleteComentario(comment)'>Apagar</a>
                 </div>
              </div>
                <div class="row">
                  <div class="col-md-10">
                    <p class="card-text ml-4" aria-describedby="texto">{{comment.comment}} </p>
                  </div>
                </div>

                <hr>

                <div class="d-flex justify-content-end">
                  <small id="texto" class="form-text m-0 text-muted text-monospace">
                    Postado em {{ comment.data | date:'dd/MM/yyyy'}} às {{comment.data | date:'HH:mm'}}
                  </small>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>