<div class="card border border-primary b-size mb-3 mt-3">

    <div class="card-body">
        <h4 class="card-title text-primary">MENTALIDADE</h4>
        <hr>
        <h6 class="card-subtitle mb-2">{{tituloMentalidade}}</h6>
        <p class="card-text text-justify"> {{mentalidadesTxt}}
        </p>

        <a href="{{linkMentalidade}}" class="card-link btn btn-outline-primary w-100" target="_blank"> PRA VER MAIS

            CLICA AQUI</a>
    </div>
</div>
<div class="card border border-danger mb-3 mt-3">
    <div class="card-body">
        <h4 class="card-title text-danger">DESAFIO</h4>
        <hr>

        <h6 class="card-subtitle mb-2">{{tituloDesafio}}</h6>
        <p class="card-text d-flex"> {{desafioTxt}}

        </p>
        <a class="btn btn-outline-danger w-100" type="button" (click)='resposta()'>RESPOSTA</a>

    </div>
</div>
<div class="card bg bg-wa mb-3 mt-3 border border-info">
    <div class="card-body">
        <h4 class="card-title text-info">DICA</h4>
        <hr>
        <h6 class="card-subtitle mb-2">{{tituloDicas}}</h6>
        <p class="card-text text-justify"> {{dicasTxt}}
        </p>
        <a href="{{linkDicas}}" class="card-link btn btn-outline-info w-100" target="_blank"> PRA VER MAIS CLICA AQUI</a>

    </div>
</div>