<div class="card border border-primary b-size mb-3 mt-3">
    <div class="card-body">
        <h4 class="card-title text-primary">MENTALIDADE</h4>
        <hr>
        <h6 class="card-subtitle mb-2">MENTALIDADE DE CRESCIMENTO</h6>
        <p class="card-text text-justify"> Tudo que você precisa saber para desenvolver uma mentalidade de sucesso Comece a aceitar as mudanças. ... Comece a definir metas. ... Comece a se comprometer com as coisas. ... Comece a identificar o seu propósito. ... Comece a acreditar em você
            e seus objetivos. ... Comece a cultivar a paciência. ...
        </p>

        <a href="https://www.agendor.com.br/blog/mentalidade-de-sucesso/" class="card-link btn btn-outline-primary w-100" target="_blank"> PRA VER MAIS

            CLICA AQUI</a>
    </div>
</div>
<div class="card border border-danger mb-3 mt-3">
    <div class="card-body">
        <h4 class="card-title text-danger">DESAFIO</h4>
        <hr>

        <h6 class="card-subtitle mb-2">MATEMATICA</h6>
        <p class="card-text d-flex"> 50 + 50 = ?

        </p>
        <a class="btn btn-outline-danger w-100" type="button" (click)='resposta()'>RESPOSTA</a>

    </div>
</div>
<div class="card bg bg-wa mb-3 mt-3 border border-info">
    <div class="card-body">
        <h4 class="card-title text-info">DICA</h4>
        <hr>
        <h6 class="card-subtitle mb-2">ESTUDO NA QUARENTENA</h6>
        <p class="card-text text-justify"> Em quarentena? 7 dicas para estudar em casa e não perder o ritmo Siga uma rotina. ... Defina um local de estudos. ... Tenha equilíbrio. ... Conecte-se com seus colegas. ... Peça ajuda da família. ...
        </p>
        <a href="https://guiadoestudante.abril.com.br/estudo/coronavirus-7-dicas-para-estudar-em-casa-e-nao-perder-o-ritmo/" class="card-link btn btn-outline-info w-100" target="_blank"> PRA VER MAIS CLICA AQUI</a>

    </div>
</div>