<div class="container">
  <div class="row">
      <div class="mx-auto">
          <div class="card card-signin my-5">
              <div class="card-body">
                  <h5 class="card-title text-center">EDITAR</h5>

      
      <div class="col">

          <div class="group">
            <input type="text" id="nome" name="nome" required [(ngModel)]="postagem.titulo">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="titulo">TITULO</label>
          </div>

          <div class="group">
            <textarea class="text" rows="3" 
            [(ngModel)]="postagem.mensagem"></textarea>
            <span class="highlight"></span>
           <span class="bar"></span>
           <p for="titulo">NOVA MENSAGEM</p>
          
          </div>

          <div class="">
           
            <select name="tema" id='tema' [(ngModel)]="idTema" (change)="findByIdTema()" class="form-control">
            <option *ngFor="let item of ListaTemas" value={{item.id}}>
               {{item.descricao}}
            </option>
            </select>
            <p class="" for="tema">Escolha um tema ou <a class = "text-primary" routerLink="/cadastrar-tema">Cadastre um novo</a></p>
         </div>

         

         <div class="d-flex">
          <button type="button" class="btn btn-outline-info w-100" (click)="salvar()">SALVAR</button>
      </div>
         
      </div>
       
     
  </div>
              </div>
          </div>
      </div>
  </div>



  
