<!-- Configuração do container contendo o formulario  -->
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">LOGIN</h5>

                    <div class="group">
                        <input type="textgit" [(ngModel)]='userLogin.usuario' id="nome" name="nome" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>USUARIO</label>
                    </div>

                        
                        <!-- input da senha -->
                        <div class="group">
                            <input type="password" [(ngModel)]='userLogin.senha' id="nome" name="nome" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>SENHA</label>
                        </div>

                    <!-- input da senha -->
                    <div class="group">
                        <input type="text" [(ngModel)]='userLogin.senha' id="nome" name="nome" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>SENHA</label>
                    </div>

                    <button class="btn btn-lg btnEntrar btn-block text-uppercase" type="submit" (click)='entrar()'>Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div>