<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Cadastrar</h5>

                    <!-- COLUNA DE NOME E USUARIO LOGIN -->
                    <div class="col">
                        <div class="group">
                            <input type="text" [(ngModel)]='user.nome' id="nome" name="nome" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="nome">Nome</label>
                        </div>

                        <div class="group">
                            <input type="text" [(ngModel)]='user.usuario' id="usuario" name="usuario" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Usuario de login</label>
                        </div>
                    </div>
                    <!-- FIM - COLUNA DE NOME E USUARIO LOGIN -->
                    <!-- COLUNA DE SENHA E CONFIRMAR SENHA -->
                    <div class="col">
                        <!--<select name="select-simples" class="ls-select" [(ngModel)]="selectedValue">
                            <option value="selected">SELECIONE SUA IDADE</option>
                            <option value="sextoano">6º ANO</option>
                            <option value="setimoano">7º ANO</option>
                            <option value="oitavoano">8º ANO</option> 
                            <option value="nonoano">9º ANO</option>
                        </select>-->
                        <div class="group">
                            <input type="text" [(ngModel)]='user.ano' id="ano" name="ano" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Ano Matriculado</label>
                        </div>
                        <div class="group">
                            <input type="text" [(ngModel)]='user.cidade' id="cidade" name="cidade" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cidade</label>
                        </div>
                        <div class="group">
                            <textarea class="text" rows="3" [(ngModel)]='user.bio' id="bio" name="bio" required>
                </textarea>
                            <span class="falasobrevc">Fale sobre você</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group">
                            <input type="text" (input)='conferirSenha($event)' value='{{senha}}' id="senha" name="senha" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Senha</label>
                        </div>

                        <div class="group">
                            <input type="text" [(ngModel)]='user.senha' id="confSenha" name="confSenha" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Confirmar Senha</label>
                        </div>
                    </div>

                    <!-- FIM - COLUNA DE SENHA E CONFIRMAR SENHA -->
                    <button class="btn btn-lg btnCadastrar btn-block text-uppercase" (click)='cadastrar()'>cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>