<div class="container container-bg">
    <form>
        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
        </div>

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>

        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Telefone</label>
        </div>

        <div class="group">
            <textarea required></textarea>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Conta pra gente:</label>
        </div>
    </form>
</div>