.btn-enviar:hover {
    color: #7b43d5;
    background-color: #42d1fd;
}

.btn-enviar {
    color: #42d1fd;
    background-color: #7b43d5d3;
}

* {
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #42d1fd;
    display: block;
}

.footer {
    text-align: center;
}

.footer a {
    color: #53B2C8;
}

.group {
    position: relative;
    margin-bottom: 45px;
    margin-top: 45px;
}

input,
textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
    width: 300px;
    color: darkmagenta;
}

input:focus {
    outline: none;
}

label {
    color: #7b43d5;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Barlow Condensed', sans-serif;
}

input:focus~label,
input:valid~label,
textarea:valid~label {
    top: -20px;
    font-size: 14px;
    color: #7b43d5;
    font-family: 'Barlow Condensed', sans-serif;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after,
textarea:valid~label {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight,
textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.container-bg {
    background: #42d1fd;
    margin-bottom: 45px;
    border-radius: 30px;
}