<form>
    <div class="form-group">
        <input type="nome" class="form-control mt-3" id="exampleFormControlInput1" placeholder="Nome de usuário">
    </div>
    <div class="form-group">
        <input type="email" class="form-control mt-3" id="exampleFormControlInput1" placeholder="email@email.com">
    </div>
    <div class="form-group">
        <input type="telefone" class="form-control mt-3" id="exampleFormControlInput1" placeholder="Telefone de contato">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Em que podemos te ajudar?"></textarea>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-lg ">Enviar</button>
    </div>
</form>