<!-- ==== COLUNA ESQUERDA ==== -->

<!-- CARD-->
<div class="card gedf-card w3-animate-left">
    <!--  ==== INICIO ==== 
                CONTEINER DAS INFORMAÇÕES PESSOAIS DO USUARIO
                -->
    <div class="container">
        <!-- NOME DO USUARIO -->

        <h2 class="text-center">
            {{nomeUser}}
        </h2>
        <hr>
        <!-- AVATAR -->
        <p class="text-center"><img src="{{foto}}" class="rounded-circle" style="height:106px;width:106px" alt="Foto de perfil cadastrada antes do primeiro acesso">
        </p>
        <hr>
        <!-- PULO DE LINHA -->
        <!-- DECRICÃO BASICA DO USUARIO-->

        <h6 class="ng-binding"><i class="margin-right w3-text-theme"></i> {{anoUser}}
        </h6>

        <hr>

         <h6 class="ng-binding"><i class="margin-right w3-text-theme"></i> Cidade: {{cidadeUser}} </h6>
        
        <hr>

        <!-- COISA QUE O USUARIO CURTE FAZER -->
        <h3>Sobre mim: </h3>
        <p class="ng-binding">
            {{bioUser}}
        </p>
    </div>
    <!--  ==== FIM ====  -->
</div>