<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #697adb;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">INFROMAÇÕES ADICIONAIS</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">VAI DAR BOM</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Uma plataforma onde prezamos pela experiência do usúario e garantindo o aprendizado, alem de gerar uma conexão com os usúarios. Com fácil acesso e conteúdos que farão a diferença.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Produtores</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" target="_blank" title="LinkedIn Antonia" href=" #! ">Antonia Stephanie</a>
                </p>
                <p>
                    <!-- LINK DO LINKEDIN DA ANTONIA E DA GABY -->
                    <a class="dark-grey-text" target="_blank" title="LinkedIn Gabriella" href="">Gabriella França</a>
                </p>
                <p>
                    <a class="dark-grey-text" target="_blank" title="LinkedIn Jefferson" href="https://www.linkedin.com/in/jefferson-russo-silva-6b525a1b9/">Jefferson Russo</a>
                </p>
                <p>
                    <a class="dark-grey-text" target="_blank" title="LinkedIn Lucas" href="https://www.linkedin.com/in/lucas-silveira-dos-santos/">Lucas Silveira</a>
                </p>
                <p>
                    <a class="dark-grey-text" target="_blank" title="LinkedIn Matheus" href="https://www.linkedin.com/in/matheus-jesus-oliveira/">Matheus Jesus</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">LINKS</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" routerLink='/cadastro'>CADASTRO</a>
                </p>
                <p>
                    <a class="dark-grey-text" routerLink='/contato'>CONTATO</a>
                </p>
                <p>
                    <a class="dark-grey-text" routerLink='/feed'>FEED</a>
                </p>
                <p>
                    <a class="dark-grey-text" routerLink='/login'>LOGIN</a>
                </p>

            </div>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright <div class="footer-copyright text-center text-black-50 py-3 ">© 2020 Copyright:
    <a class="dark-grey-text " href="https://mdbootstrap.com/ "> MDBootstrap.com</a>
  </div> -->
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light ">Aluno da Generation Brasil © 2020: </span>
        <a class=" text-light " href=" https://brasil.generation.org "> brasil.generation.org </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->