<!-- Footer -->
<footer class="page-footer font-small backFooter pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <div class=" row ">
            <div class="col-md-12 d-flex justify-content-center ">

                <ul class="social-network navbar-nav mb-3">
                    <li class="nav-item">
                        <a routerLink='/home'>
                            <img src="https://i.ibb.co/xF4v09K/logo-Vai-Dar-Bom.jpg" alt="logo da Rede Social Vai Dar Bom" class="logoVaiDarBom rounded"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light "> © 2020 Copyright: </span>
        <a class="text-light " target="_blank " href="https://brasil.generation.org ">brasil.generation.org</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->