<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <div class=" row ">
            <div class="col-md-12 d-flex justify-content-center ">

                <ul class="social-network navbar-nav mb-3">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/generationbrasil " target="_blank " class="icoFacebook " title="Facebook ">

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../contato/contato.component.html" target="_blank" title="Instagram">
                            <img src="../../assets/logoVaiDarBom.jpeg" alt="logoVaiDarBom" class="logoVaiDarBom rounded"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light "> © 2020 Copyright: </span>
        <a class="text-light " target="_blank " href="https://brasil.generation.org ">brasil.generation.org</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->