<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card text-white bg-white mb-3 border" style="max-width: 15rem;">
                        <img class="card-img-top d-flex img-wrapper" src="https://cdn-ofuxico.akamaized.net/img/upload/noticias/2020/08/12/neymar-e-assunto-mais-comentado_383635_36.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title text-dark">NOME USUARIO</h5>
                            <p class="card-text text-dark">INFO XXXXYYYZZZ</p>
                            <p class="card-text text-dark">INFO XXXXYYYZZZ</p>
                            <p class="card-text text-dark">INFO XXXXYYYZZZ</p>
                            <p class="card-text text-dark">INFO XXXXYYYZZZ</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    </form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Exemplo de textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    </form>
                </div>
                <div class="w-100">

                </div>
                <div class="col">
                    coluna (1,1)
                </div>
                <div class="col">
                    coluna (1,2)
                </div>
            </div>
        </div>
    </div>
</div>