<div class="container">
    <div class="row  d-flex justify-content-center">
        <div class="col-md-12  cardHomeVaiDarBom mt-5 rounded">
            <h1 class="text-lg-center  text-h1 p-3 font-weight-bold"> VAI DAR BOM! </h1>
        </div>
    </div>
    <div class="row w-100 mt-0 mb-5"></div>

    <div id="carouselExampleCaptions" class="carousel slide d-flex justify-content-center " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <figure class="d-flex align-middle">
                    <img class="sizeImgPasso " src="https://i.imgur.com/z5Tus6n.png" />
                    <figcaption class="legenda-carousel mt-4 text-center d-flex">
                        <p class="pTamanho text-justify"> A Vai Dar Bom é uma plataforma desenvolvida para conectar pessoas através de suas jornadas de conhecimento
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="carousel-item">
                <figure class="d-flex ">
                    <figcaption class="legenda-carousel text-center align-middle">
                        <p class="pTamanho text-justify"> Uma pesquisa realizada pelo
                            <a href=" https://revistacrescer.globo.com/Educacao-Comportamento/noticia/2020/07/mais-da-metade-dos-pais-dizem-que-criancas-tiveram-dificuldades-de-estudar-em-casa-aponta-pesquisa.html " target="_blank ">Instituto Nacional de Estatísticas Britânico</a>,
                            aponta que metade dos alunos têm dificuldade em estudar em casa. Para facilitar a construção de conhecimento criamos essa plataforma que é ideal para facilitar a vida desses alunes, pois nessa ferramenta é possível compartilhar
                            tarefas concluídas, esclarecer dúvidas e muito mais.
                        </p>
                    </figcaption>
                    <img class="sizeImgPasso align-items-center" src="https://i.imgur.com/vqg9uMm.png" title="source: imgur.com" />
                </figure>
            </div>
            <div class="carousel-item ">
                <figure class="d-flex ">
                    <img class="sizeImgPasso align-items-center " src="https://i.imgur.com/DF3IiBI.png " title="source: imgur.com " />
                    <figcaption class="legenda-carousel text-center d-flex ">
                        <p class="pTamanho"> <a href="http://www.agenda2030.org.br/ods/4/ " target="_blank ">Educação de qualidade</a> é fundamental no desenvolvimento de cada indivíduo, é através dela que garantimos também nossa evolução cultural, social e econômica. A gente
                            se torna, sabe, como pessoas é de extrema importância para nos tornarmos cidadãs e cidadãos conscientes e relevantes.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <a class="carousel-control-prev " href="#carouselExampleCaptions " role="button " data-slide="prev ">
            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
            <span class="sr-only ">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleCaptions " role="button " data-slide="next ">
            <span class="carousel-control-next-icon " aria-hidden="true "></span>
            <span class="sr-only ">Next</span>
        </a>
    </div>
    <!-- START THE FEATURETTES -->
    <div class=" ">
        <hr class="featurette-divider ">

        <div class="row ">
            <div class="col-md-6 align-middle ">
                <h2 class="featurette-heading textoAzulContornado mt-2 mb-2 passoPasso1 ">PRIMEIRO PASSO</h2>

                <p class="text-justify ">Você precisa cadastrar uma conta com suas informações, depois disso você será redirecionado pra nossa pagina de login e depois de logar você fará parte da equipe VAI DAR BOM. Depois que você pode fazer seus posts pra galera, lembrando
                    que nosso foco é a galera do fundamental 2, porém qualquer pessoa pode participar :D <strong>FACIL, NÉ?</strong>

                </p>

            </div>
            <div class="col-md-5 ">
                <img class="sizeImgPasso " src="https://i.imgur.com/pdm54K1.png " title="source: imgur.com " />
            </div>
        </div>

        <hr class=" featurette-divider ">

        <div class="row featurette ">
            <div class="col-md-7 order-md-2 ">
                <h2 class="textoAzulContornado mt-2 mb-2 passoPasso2 ">SEGUNDO PASSO</h2>
                <p class="text-justify ">Agora é só entrar no FEED e sair postando pra geral estudar contigo em casa durante a quarentena, exercicios concluidos com explicações pra todes entenderem como você pensou no resultado, perguntas sobre aquele exercicios que está quebrando
                    sua cabeça.
                    <strong>DA HORA, NÉ?</strong>
                </p>
                <p class="text-justify "> Na pagina de FEED temos 3 campos principais: TEMA é pra você dizer sobre qual materia você quer criar uma postagem; TITULO é o mesmo que "assunto ".E MENSAGEM, é o texto em si pra você passar pra galere :D.Da uma olhada no exemplo pra
                    ficar mais facil
                </p>
                <p> TEMA : MATEMÁTICA </p>
                <P> TITULO : PORCENTAGEM </P>
                <P class="text-justify ">MENSAGEM: Olha isso pessoal. Veja os exemplos: Se 10% é igual a 10/100, que é igual a 1/10, então 10% de 40 é igual a 40/10 = 4. Se 20% é igual a 20/100 , que é igual a 1/5, então 20% de 50 é igual a 50/5 = 10. Se 25% é igual a 25/100,
                    que é igual a 1/4, então 25% de 80 é igual a 80/4 = 20. </P>
            </div>
            <div class=" col-md-5 order-md-1 ">
                <img class="sizeImgPasso " src="https://i.imgur.com/2ltqdZr.png " title="source: imgur.com " />
            </div>
        </div>

        <hr class="featurette-divider ">

        <div class="row featurette ">
            <div class="col-md-7 ">
                <h2 class="textoAzulContornado mt-2 mb-2 passoPasso3 ">TERCEIRO PASSO</h2>
                <p class="text-justify ">
                    A page FEED está repleta de CARDS com dicas de estudos, mentalidades e desafios a serem solucionados. Tente solucionar alguns desafios por dia, leias as mentalidades que o VAI DAR BOM adotou pra agilizar seu aprendizado, com esse super pacote de desafios,
                    dicas e mentalidades, você vai <strong>VOAR </strong>nos seus estudos!
                    <p>
            </div>
            <div class="col-md-5 ">

                <img class="sizeImgPasso " src="https://i.imgur.com/nRmmiXU.png " title="source: imgur.com " />
            </div>
        </div>
        <hr class="featurette-divider ">
    </div>
    <!-- /END THE FEATURETTES -->
    <div class="card  cardColor ">
        <h1 class="text-center text-h1 mt-5 mb-5 font-weight-bold ">Algumas dicas para facilitar o estudo em casa</h1>
        <div class=" ">
            <div class="col d-flex justify-content-center mb-5 ">
                <iframe id="video " width="550 " height="350 " src="https://www.youtube.com/embed/z-siDHLMJyU " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>