<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-center text-h1" routerLink='/home'> VAI DAR BOM! </h1>
        </div>
    </div>

    <div class="row w-100 mt-8 mb-8">
        <div class="col-md-12">
            <p class="text-justify  text-h2 text-center mt-5">
                Uma plataforma desenvolvida para conectar pessoas interessadas em compartilhar conhecimento e/ou esclarecer dúvidas.
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
</div>