.logoVaiDarBom {
    height: 70px;
    width: 70px;
}

.text-h1:hover {
    font-family: 'Barlow Condensed', sans-serif;
    text-shadow: .1em .1em #7b43d5;
    color: #42d1fd !important;
}

.text-h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-shadow: .1em .1em #8f6aca;
    color: #94e6ff !important;
}

h5:hover {
    font-family: 'Barlow Condensed', sans-serif;
    text-shadow: .1em .1em #7b43d5;
    color: #42d1fd !important;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    text-shadow: .1em .1em #8f6aca;
    color: #94e6ff !important;
}