<div class="container mt-5">
    <h1 class="text-center mb-5 text-uppercase ">Olha que gente linde</h1>
    <div class="row d-flex justify-content-center ">
        <div class=" col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/70701220?s=400&u=4b6b86dc20658680555ef93fd13b896359083a8e&v=4 " alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title text-center">Antonia Stephanie</h5>
                    <p class="card-text text-justify">Tenho 21 anos, formada em Gestão Comercial, estou em transição de área e sendo uma pessoa curiosa e persistente decidi entrar para tecnologia, estou me encontrando nas linhas de código com muita atenção e treinamento.
                    </p>
                    <a href="https://github.com/antonia-stephanie " class="btn btnSobreNos " target="_blank ">GitHub</a>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="card ">
                <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/70711238?s=400&u=54c14f2d15e8e87a94f7b9ca02b0325026c1ce80&v=4 " alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title text-center">Gabriela França</h5>
                    <p class="card-text text-justify">Tenho 21 anos. Sendo uma pessoa proativa, procurando sempre aprender coisas novas encontrei na tecnologia uma paixão, pautando minhas habilidades de atenção aos detalhes e responsabilidade pessoal.</p>
                    <a href="https://github.com/gaabiizynha " class="btn btnSobreNos " target="_blank ">GitHub</a>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="card ">
                <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/70698625?s=400&u=6a50f838adf4ba3c0eb3b248633510b31798d0d1&v=4 " alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title text-center">Jefferson Russo</h5>
                    <p class="card-text text-justify">tenho 26 anos e gosto de desenvolver jogos, de acampar, tocar violão, comida vegetariana e trabalhar com crianças. Meu foco é conseguir desenvolver meu lado profissional na área de tecnologia.</p>
                    <a href="https://github.com/antonia-stephanie " class="btn btnSobreNos " target="_blank ">GitHub</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class=" col-md-4">
            <div class="card ">
                <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/70703121?s=400&u=4579b2cd520b89b9796960b048a1fc29070fddbd&v=4 " alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title text-center">Matheus Jesus</h5>
                    <p class="card-text text-justify">Sou um jovem de 19, comunicativo e resiliente. Procuro andar em constante processo de aprendizado, e encontrei na área de tecnologia uma oportunidade de fazer a diferença, com a orientação certa e muita dedicação.
                    </p>
                    <a href="https://github.com/mjfo1910 " class="btn btnSobreNos" target="_blank ">GitHub</a>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="card ">
                <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/53626965?s=400&u=deeccaa6b5634c870e915c761fe08609b122319e&v=4 " alt="Card image cap ">
                <div class="card-body ">
                    <h5 class="card-title text-center">Lucas Silveira</h5>
                    <p class="card-text text-justify">Tenho 25 anos. Nas minhas horas de descanso gosto de assistir filmes e séries e tentar concluir livros. Participei do Conselho da Juventude de Peruíbe, pela bancada do Ensino Médio. Pizzas: todos os sabores. E sou viciados em Podcasts.
                    </p>
                    <a href="https://github.com/LssLucas " class="btn btnSobreNos " target="_blank ">GitHub</a>
                </div>
            </div>
        </div>

    </div>
</div>