<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-3">
            <app-perfil></app-perfil>
        </div>
        <div class="mx-auto">
            <div class="card card-signin mt-3">
                <div class="card-body">
                    <h5 class="card-title text-center">AQUI É ONDE VOCÊ EDITA SEUS TEMAS :D</h5>

                    <div class="col">

                        <div class="form-group">
                            <label for="titulo">Nome do tema:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo" [(ngModel)]="tema.descricao">

                        </div>
                        <div class="d-flex">
                            <button type="button" class="btn w-100 btnAtualizarTema" (click)="salvar()">SALVAR</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-cards-feed></app-cards-feed>
        </div>
    </div>
</div>